/* For each individual job */
.row_job {
  object-fit: fill;
  width: 23%;
  max-height: 350px;
  transition: 0.2s;
  margin-right: 30px;
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 8px;
  flex-shrink: 0;
}

/* action when you hover each listing */
.row_job:hover {
  transform: translate(0, -3px);
  background-color: whitesmoke;
  box-shadow: 1px 1px 5px 5px rgb(211, 210, 210);
}

.row_logo {
  height: 90px;
  width: 90px;
  background-color: whitesmoke;
  padding-left: 130px;
  padding-bottom: 20px;
}

.top_section {
  padding-bottom: 50px;
  background-color: whitesmoke;
}

.center {
  text-align: center;
  background-color: whitesmoke;
}

.company_name {
  background-color: whitesmoke;
}

.name_and_title {
  background-color: whitesmoke;
}

.title {
  font-weight: bold;
  font-size: 18px;
  background-color: whitesmoke;
}

#middle_section {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
}

.listed_style {
  font-style: italic;
  font-size: 14px;
  background-color: whitesmoke;
}

.category_style {
  padding: 6px;
  background-color: rgb(225, 243, 199);
  color: rgb(61, 201, 68);
  border-radius: 8px;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 10px;
}

.bottom_section {
  padding-top: 10px;
  background-color: whitesmoke;
  border-top-color: #dfdfdf;
  border-top-width: 1px;
  border-top-style: solid;
  text-overflow: ellipsis;
}

@media (max-width: 500px) {
  .row_job {
    max-height: 350px;
    transition: 0.2s;
    background-color: whitesmoke;
    border-radius: 8px;
    min-width: 300px;
    height: fit-content;
    margin-bottom: 20px;
  }

  /* action when you hover each listing */
  .row_job:hover {
    transform: translate(0, -3px);
    background-color: whitesmoke;
    box-shadow: 1px 1px 5px 5px rgb(211, 210, 210);
  }

  .row_logo {
    height: 60px;
    width: 60px;
    background-color: whitesmoke;
    align-items: flex-start;
    display: flex;
    padding: 0px;
  }

  .top_section {
    background-color: whitesmoke;
    justify-content: flex-start;
    display: flex;
    align-items: center;
  }

  .name_and_title {
    background-color: whitesmoke;
    margin-left: 20px;
  }

  .company_name {
    background-color: whitesmoke;
  }

  .title {
    font-weight: bold;
    font-size: 18px;
    background-color: whitesmoke;
  }

  .middle_section {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
  }

  .listed_style {
    font-style: italic;
    font-size: 14px;
    background-color: whitesmoke;
  }

  .category_style {
    padding: 6px;
    background-color: rgb(225, 243, 199);
    color: rgb(61, 201, 68);
    border-radius: 8px;
    font-weight: bold;
    padding-right: 10px;
  }

  .bottom_section {
    padding-top: 10px;
    background-color: whitesmoke;
    border-top-color: #dfdfdf;
    border-top-width: 1px;
    border-top-style: solid;
    text-overflow: ellipsis;
  }
}
