/* For the row of jobs */
.row_jobs {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px;
  padding-left: 30px;
  flex-grow: 1;
}

/* never display the scrollbars, 
    but keep the functionality
*/
.row_jobs::-webkit-scrollbar {
  display: none;
}

@media (max-width: 500px) {
  /* For the row of jobs */
  .row_jobs {
    overflow-x: visible;
    overflow-y: hidden;
    margin: 10px;
    flex-wrap: wrap;
    display: inline-block;
    align-self: center;
  }

  /* never display the scrollbars, 
    but keep the functionality
*/
  .row_jobs::-webkit-scrollbar {
    display: none;
  }
}
